.container {
  margin: 0 5px 10px;
  text-align: center;
  padding: 0 5px;
  color: var(--text-color);
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #e7ba3f;
  line-height: 3rem;
}
