@import url(normalize.css);

:root {
  --mode-color: #ffffff;
  --icon-mode-color: #333333;
  --icon-dark-mode-color: #dddddd;
  --text-color: #3b3b3b;
  --header-height: 70px;
  --logo-color: #3b3b3bab;
  --authentication-color: #ebeaea;
  --background-color: #ffffff;
  --search-result-color: rgb(250, 250, 250);
}

html {
  font-size: 62.5%;
  font-family: 'Ubuntu', sans-serif;
}

body {
  height: 1000px;
  background: no-repeat
    repeating-linear-gradient(45deg, #adadad, var(--background-color) 3px, #adadad 3px, var(--background-color) 3px);
  background-repeat: none;
  // background-size: contain;
}
