.wrapper {
  width: 100%;
  height: var(--header-height);
  background-color: var(--mode-color);
}
.inner {
  display: flex;
  align-items: center;
  height: 100%;
}
.home-wrap {
  display: flex;
  text-decoration: none;
  text-align: center;
  height: 100%;
}
.logo {
  margin-left: 5px;
  cursor: pointer;
  user-select: none;
}
.logo-mode {
  color: var(--icon-mode-color);
  cursor: pointer;
  padding: 3px;
}
.logo-mode:hover {
  border-radius: 50%;
  background-color: rgba(#808080, 0.8);
}
.name {
  color: var(--logo-color);
  lighting-color: none;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
  font-size: 3rem;
}
.link + .link {
  margin-left: 10px;
}
.link:nth-child(2) {
  margin-left: 10px;
}
.link:nth-child(4) {
  margin-right: 10px;
}
.link {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: #e7ba3f;
}
.bottom-wrapper {
  display: flex;
  flex: 1;
}
.middle-wrapper {
  margin: 0 5px;
}
@media only screen and (max-width: 864px) {
  .logo-mode {
    position: absolute;
    left: calc((100vw - 230px) / 2 + 240px);
    top: 19px;
  }
  .middle-wrapper {
    margin-bottom: 10px;
    order: 3;
  }
  .second-middle-wrapper {
    order: 4;
    margin-bottom: auto;
  }
  .bottom-wrapper {
    flex: none;
    height: 34px;
    order: 2;
    margin-bottom: 8px;
  }
  .wrapper {
    --header-height: 184px;
    height: var(--header-height);
  }
  .inner {
    flex-direction: column;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
}
@media only screen and (min-width: 1366px) {
  .inner {
    width: 1280px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1920px) {
  .inner {
    width: 1536px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1366px) {
  .inner {
    width: 1080px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1080px) {
  .inner {
    width: 864px;
    margin: 0 auto;
  }
  .input {
    width: 160px;
  }
}

@media only screen and (max-width: 864px) {
  .inner {
    width: 342px;

    margin: 0 auto;
  }
}
