.wrapper {
  width: 100%;
  height: var(--header-height);
  background-color: var(--light-mode-color);
}
.inner {
  display: flex;
  align-items: center;
  height: 100%;
}
.home-wrap {
  display: flex;
  text-decoration: none;
  text-align: center;
  height: 100%;
}
.logo {
  margin-left: 5px;
  cursor: pointer;
  user-select: none;
}
.logo-mode {
  color: var(--icon-light-mode-color);
  cursor: pointer;
  padding: 3px;
}
.logo-mode:hover {
  border-radius: 50%;
  background-color: rgba(#808080, 0.8);
}
.name {
  color: #3b3b3bab;
  lighting-color: none;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
  font-size: 3rem;
}
.link + .link {
  margin-left: 10px;
}
.link:nth-child(2) {
  margin-left: 10px;
}
.link:nth-child(4) {
  margin-right: 10px;
}
.link {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500px;
  color: #e7ba3f;
}
@media only screen and (max-width: 864px) {
  .logo {
    width: 60px;
    height: 60px;
  }
  .wrapper {
    height: 70px;
  }
}
@media only screen and (min-width: 1366px) {
  .inner {
    width: 1280px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1920px) {
  .inner {
    width: 1536px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1366px) {
  .inner {
    width: 1080px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1080px) {
  .inner {
    width: 864px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 864px) {
  .inner {
    width: 360px;

    margin: 0 auto;
  }
}
