<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
   <div class="container">
        <header><h1>Quản trị mạng</h1></header>
        <main class="wrapper">
            <div class="left">
                <ul>
                    <li><a href="">Làng Công Nghệ</a> </li>
                    <li> <a href="">công nghệ</a> </li>
                    <li> <a href="">khoa học</a></li>
                    <li> <a href="">cuộc sống</a></li>
                    <li> <a href="">lập trình</a></li>
                </ul>
            </div>
            <div class="right"><h1 class="tree">làng công nghệ</h1>
           
        </main>
        <footer>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolore reiciendis eveniet qui aut porro tempore aspernatur, assumenda dolor. Nulla praesentium quia aliquid illo, vitae vel enim accusantium minus dignissimos!</footer>
   </div>
</body>
</html>