.huge {
  margin-top: 20px;
  border-top: 4px solid white;
  height: calc(90vw / 4);
  background-repeat: no-repeat;
  background-size: 100vw calc(90vw / 4);
}
.bit {
  margin-top: 20px;
  border-top: 4px solid white;
  height: calc(100vw / 2);
  background-repeat: no-repeat;
  background-size: 100vw calc(100vw / 2);
}
