.load {
  width: 18px;
  height: 18px;
  animation: rotate 0.6s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.search-result {
  width: 400px;
  background-color: var(--search-result-color);
  border-radius: 8px;
}
.search-icon {
  height: 30px;
  width: 20px;
  padding: 5px;
  border-radius: 50%;
  color: var(--text-color);
  overflow: hidden;
}
.input {
  outline: none;
  border: none;
  margin-left: 6px;
  background-color: var(--mode-color);
  font-size: 1.8rem;

  color: var(--text-color);
  opacity: 0.85;
}
.delete {
  width: 18px;
  height: 18px;
}
.wrapper {
  display: flex;
  height: 30px;
  align-items: center;
  border: 1px var(--text-color) solid;
  border-radius: 15px;
}
.wrapper-input {
  display: flex;
  align-items: center;
}
.wrap-logo {
  width: 18px;
  height: 18px;
}
