.link {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: 500;
  display: block;
  width: 100%;
  height: 100%;
}

.login {
  width: 64px;
  height: 30px;
  line-height: 3rem;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 18px;
  background-color: transparent;
  color: var(--text-color);
  opacity: 0.85;
}

.register.active {
  background-color: #a0a0a0;
}
.register.active a {
  color: rgb(255, 255, 255);
}
.login.active a {
  color: rgb(255, 255, 255);
}
.login.active {
  background-color: #a0a0a0;
  opacity: 1;
}
.register {
  width: 64px;
  height: 30px;
  line-height: 3rem;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 18px;
  color: var(--text-color);
  opacity: 0.85;
}
.hover:hover {
  background-color: var(--authentication-color);
}

.container {
  display: flex;
  height: 32px;
  margin-left: auto;
  border: 1px #cacaca solid;
  border-radius: 18px;
  cursor: pointer;
}
.login:not(.active):hover {
  background-color: var(--authentication-color);
}
.register:not(.active):hover {
  background-color: var(--authentication-color);
}
